<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <service interface="org.ops4j.pax.wicket.api.WebApplicationFactory">
        <service-properties>
            <entry key="pax.wicket.applicationname" value="blueprint.simple.default"/>
            <entry key="pax.wicket.mountpoint" value="/"/>
        </service-properties>
        <bean class="org.ops4j.pax.wicket.api.support.SimpleWebApplicationFactory">
            <property name="wicketApplication" value="com.liming.core.web.wicket.IrisApplication"/>
        </bean>
    </service>
    <!--监听菜单项模块的加载和卸载-->
    <reference-list id="menuItemsProviders"
                    interface="com.liming.core.web.api.module.IMenuItemsModule">
        <reference-listener bind-method="bind" unbind-method="unbind">
            <bean class="com.liming.core.web.wicket.listener.MenuModuleListener"/>
        </reference-listener>
    </reference-list>
    <!--监听菜单模块的加载和卸载-->
    <reference-list id="menuProviders"
                    interface="com.liming.core.web.api.module.IMenuModule">
        <reference-listener bind-method="bind" unbind-method="unbind">
            <bean class="com.liming.core.web.wicket.listener.MenuModuleListener"/>
        </reference-listener>
    </reference-list>
</blueprint>
