<?xml version="1.0" encoding="UTF-8"?>
<blueprint
        xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        default-activation="lazy"
        >

    <!-- 发布菜单目录 -->
    <service interface="com.liming.core.web.api.module.IMenuModule">
        <bean class="com.liming.admin.webapp.wicket.AdminMenuModule">
        </bean>
    </service>


    <!-- 发布菜单模块 -->
    <service interface="com.liming.core.web.api.module.IMenuItemsModule">
        <bean class="com.liming.admin.webapp.wicket.UserMenuItemsModule">
        </bean>
    </service>


</blueprint>
